<footer class="footer_satin">
<div class="footertext_satin">All content copyright <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; 2014 &bull; All rights reserved.</div>
<div class="footertext_satin"><a href="#">Satin</a> Theme created by <a href="{{@blog.url}}">Brendellya Thomas</a>.</div>
<div class="footertext_satin">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
</footer>
