/*
	VARIABLES
*/
// Golden ratio, which makes just about anything look lovely
@golden: 1.618;
@goldenEm: @golden + 0em;

/*
B/W Color Scale
*/
@black: hsl(0, 0%, 0%);
@gray90: hsl(0, 0%, 10%);
@gray80: hsl(0, 0%, 20%);
@gray70: hsl(0, 0%, 30%);
@gray60: hsl(0, 0%, 40%);
@gray50: hsl(0, 0%, 50%);
@gray40: hsl(0, 0%, 60%);
@gray30: hsl(0, 0%, 70%);
@gray20: hsl(0, 0%, 80%);
@gray10: hsl(0, 0%, 90%);
@gray03: hsl(0, 0%, 97%);
@gray01: hsl(0, 0%, 99%);
@white: hsl(0, 0%, 100%);

@red: rgb(255,0,0);


/*
Web Variables
*/
@bodyBG: @white;
@bodyColor: @black;
@linkColor: @gray50;
@linkHoverColor: @gray70;

@headerFont: "devroye", Georgia, serif;
@defaultFont: Arial, non-serif;

/*
	Header Sizes
*/
@h1: 2.25;
@h2: 1.8;
@h3: 1.5;
@h4: 1.17;
@h5: 1;
@h6: 0.83;

/*
	Media Query Breakpoints
*/
@loPoint: 320px;
@midPoint: 768px;
@hiPoint: 1000px;

/*
	Icons
*/
@icon_quill: "\e007";
@icon_tag: "\e030";
@icon_twitter: "\e16d";
@icon_linkedin: "\e19f";
@icon_email: "\e15f";
